<html>
<head>  
<title>
 Bikeonur: title 
</title>
<link rel="stylesheet" href="style_layout.css" media="all" type="text/css"> 
<link rel="stylesheet" href="mini_profil_layout.css" media="all" type="text/css"> 
</head> 
<body>
  <div id="hiperspace"> 
  <div id="main_contener">
    <div id="header_contener">
      <div id="logo_box"> 
      </div>
      <div id="space_box">
      </div>
      <div id="mini_prof_box">
          <div id="mini_foto_box">
          </div>
          <div id="button_left">
            login
          </div>
          <div id="button_right">
            sing in
          </div>
         <div id="buttons_box">
        </div>
      </div>
    <span style="float:none"></span>
  </div>
   <div id="main_menu_contener">
    </div>
    <div id="main_content_contener"> 
    </div>
    <div id="floor_contener">
    </div> 
  </div> 
</div>
</body>
</html>
