<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>



	<title>Outer Glow #7</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Outer%20Glow%20%237_pliki/presentation.css">
	<link rel="stylesheet" type="text/css" href="Outer%20Glow%20%237_pliki/style.css">
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie6.css" /><![endif]-->
</head><body>

	<div class="layer">
		<div class="content">
			<p>Lorem
ipsum dolor sit amet, consectetuer adipiscing elit. Nam porttitor,
velit eget gravida accumsan, augue arcu tincidunt libero, vitae pretium
tellus massa vel mi. Vivamus in nulla. In accumsan fermentum sem.
Vivamus ultricies, nibh a sodales porta, purus lacus mattis elit, et
aliquet pede arcu ac nisl. Nullam id pede nec ipsum iaculis viverra.
Pellentesque sed mi id pede gravida laoreet. Aenean nibh. Aliquam
adipiscing velit a enim. Donec a enim hendrerit risus tempus
consectetuer. Nulla a metus.
ipsum dolor sit amet, consectetuer adipiscing elit. Nam porttitor,
velit eget gravida accumsan, augue arcu tincidunt libero, vitae pretium
tellus massa vel mi. Vivamus in nulla. In accumsan fermentum sem.
Vivamus ultricies, nibh a sodales porta, purus lacus mattis elit, et
aliquet pede arcu ac nisl. Nullam id pede nec ipsum iaculis viverra.
Pellentesque sed mi id pede gravida laoreet. Aenean nibh. Aliquam
adipiscing velit a enim. Donec a enim hendrerit risus tempus
consectetuer. Nulla a metus.</p>
		</div>
		<div class="shadow-top">
			<div class="left"></div>
			<div class="center"></div>
			<div class="right"></div>
		</div>
		<div class="shadow-middle">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<div class="shadow-bottom">
			<div class="left"></div>
			<div class="center"></div>
			<div class="right"></div>
		</div>
	</div>
	
	</div>

</body></html>
