
<div class="form_row">
  <label for="Login">Login:</label>
  <%= form.text_field :login,
                      :size => User::LOGIN_SIZE,
                      :maxlength => User::LOGIN_MAX_LENGTH %>
</div>