/*	=layer
---------------------------------------------------------------------------- */

.layer {
	margin: auto;
	width: 1000px;
	padding: 23px;
	position: relative;
}

.layer .content {
	padding: 10px;
	border: 3px solid #fff;
	background-color: #88aa00;
	position: relative;
	z-index: 20;
}

/*	=shadow
---------------------------------------------------------------------------- */

.layer .left,
.layer .right,
.layer .center {
	position: absolute;	
}

.layer .shadow-top .left,
.layer .shadow-top .right,
.layer .shadow-bottom .left,
.layer .shadow-bottom .right {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.layer .shadow-top .center,
.layer .shadow-bottom .center {
	height: 23px;
	right: 45px;
	left: 45px;
	background-repeat: repeat-x;
}

.layer .shadow-middle div {
	width: 23px;
	bottom: 45px;
	top: 45px;
	background-repeat: repeat-y;	
}

.layer .shadow-top div { top: 0; }
.layer .shadow-bottom div { bottom: 0; }

.layer .left { left: 0; }
.layer .right { right: 0; }

.layer .shadow-top .left { background-image: url(tl.png); }
.layer .shadow-top .right { background-image: url(tr.png); }
.layer .shadow-bottom .left { background-image: url(bl.png); }
.layer .shadow-bottom .right { background-image: url(br.png); }
.layer .shadow-top .center { background-image: url(t.png); }
.layer .shadow-bottom .center { background-image: url(b.png); }
.layer .shadow-middle .left { background-image: url(l.png); }
.layer .shadow-middle .right { background-image: url(r.png); }
